body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background: #1d3557;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.card {
    background: white;
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.match {
    margin-top: 10px;
    padding: 10px;
    border-left: 4px solid #1d3557;
    background: #f8f9fa;
}

.stars {
    color: gold;
}

.titre-historique {
    text-align: center;
    margin-top: 40px;
}

footer {
    text-align: center;
    background: #1d3557;
    color: white;
    padding: 10px;
    margin-top: 40px;
}
.win {
    color: #00a300;
    font-weight: bold;
}

.lose {
    color: #d10000;
    font-weight: bold;
}

.wait {
    color: #b38f00;
    font-weight: bold;
}
